<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>email ejs template</title>
</head>
<body>

<h1>Welcome!! <%= email %></h1>

<div style="padding-top: 10px;">
    <a href="/">메인으로 가기</a>
</div>
</body>
</html>