<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Join</title>
</head>
<body>
<h1>회원가입</h1>
<p><%=message%></p>
<form action="/join" method="post">
  <div>
    id: <input type="text" name="id">
  </div>
  <div>
    name: <input type="text" name="name">
  </div>
  <div>
    password: <input type="password" name="password">
  </div>
  <input id='joinBtn' type="submit">
</form>
<div style="padding-top: 10px;">
  <a href="/">메인으로 가기</a>
</div>
</body>

</html>